$color-main: rgb(96, 210, 214);
$color-mobile-menu-background: #aaa;

$container-width: 1000px;
$border-radius: 1rem;
$media-first-breakpoint: 768px;
$media-second-breakpoint: 1280px;
$time-mobile-menu: 0.5s;