/*
##     ##    ###    ########  ####    ###    ########  ##       ########  ######
##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       ##    ##
##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       ##
##     ## ##     ## ########   ##  ##     ## ########  ##       ######    ######
 ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##             ##
  ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       ##    ##
   ###    ##     ## ##     ## #### ##     ## ########  ######## ########  ######
*/

$color-main: rgb(96, 210, 214);
$color-secondary: rgb(252, 222, 168);
$container-width: 800px;
$border-radius: 1rem;
$media-first-breakpoint: 768px;
$media-second-breakpoint: 1280px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  width: 90%;
}

.header {
  background-color: $color-main;
  margin-top: 6rem;
  padding: 1.5rem;
  border-radius: $border-radius;
  text-align: center;
  .header__heading {
    margin-bottom: 1.2rem;
    font-size: 3rem;
  }
}

.nav {
  margin-top: 1rem;
  max-width: $container-width;
  font-size: 1rem;

  .nav__link {
    color: $color-main;
    text-decoration: none;
    :hover {
      color: lighten($color-main, 10%);
    }
  }

  .nav__link--hidden {
    visibility: hidden;
  }

  .nav__heading {
    display: inline-block;
    color: $color-main;
    font-size: 1.5rem;
  }
  
  .fas {
    vertical-align: bottom;
  }
}

.quote {
  text-align: center;
  margin: 6rem auto 0;
  background-color: $color-secondary;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 3rem rgba(0,0,0,0.1);
}

.quote__heading,
.quote__text {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.quote__text {
  color: $color-main;
}

.quote__author {
  text-align: right;
  font-size: 1rem;
}

.fa-quote-right {
  vertical-align: top;
}



/*
##     ## ######## ########  ####    ###       ##     ## ########
###   ### ##       ##     ##  ##    ## ##      ###   ### ##     ##
#### #### ##       ##     ##  ##   ##   ##     #### #### ##     ##
## ### ## ######   ##     ##  ##  ##     ##    ## ### ## ##     ##
##     ## ##       ##     ##  ##  #########    ##     ## ##     ##
##     ## ##       ##     ##  ##  ##     ##    ##     ## ##     ##
##     ## ######## ########  #### ##     ##    ##     ## ########
*/

@media only screen and (min-width: $media-first-breakpoint) {


}

/*
##     ## ######## ########  ####    ###       ##        ######
###   ### ##       ##     ##  ##    ## ##      ##       ##    ##
#### #### ##       ##     ##  ##   ##   ##     ##       ##
## ### ## ######   ##     ##  ##  ##     ##    ##       ##   ####
##     ## ##       ##     ##  ##  #########    ##       ##    ##
##     ## ##       ##     ##  ##  ##     ##    ##       ##    ##
##     ## ######## ########  #### ##     ##    ########  ######
*/

@media only screen and (min-width: $media-second-breakpoint) {


}